<div class="header d-flex mb-3">
	<div class="d-flex mr-auto">
		<h1 class="titulo">Fotos</h1>
	</div>

	<div class="d-flex align-items-center">
		<h4 class="mb-0 mr-3">Exibição:</h4>

		<button class="btn btn-aux mr-4"
		[ngClass]="{'active': tipoExibicao == 'TABELA'}"
		(click)="tipoExibicao = 'TABELA'">
			<i class="fa fa-table mr-2"></i>Tabela
		</button>

		<button class="btn btn-aux"
		[ngClass]="{'active': tipoExibicao == 'CARD'}"
		(click)="tipoExibicao = 'CARD'">
			<i class="fa fa-th mr-2"></i>Card
		</button>
	</div>
</div>


<!-- Cards -->
<div *ngIf="tipoExibicao == 'CARD'" class="album-items-rows">

	<div class="input-container d-flex align-items-center mb-3">
		<i class="fa fa-search mr-3"></i>
		<input class="form-control d-inline-block"
		(input)="filter = $event.target.value; organizaItems(albumItems)"
		placeholder="Pesquisar">
	</div>

	<div class="row mb-3" *ngFor="let row of items | paginate: { itemsPerPage: 2, currentPage: page }">
		<div class="col" *ngFor="let item of row">
			<div class="card card-hover"
			(mouseenter)="$event.target.classList.add('exibir-botoes');"
			(mouseleave)="$event.target.classList.remove('exibir-botoes');">
				<div class="card-header">{{ item.title }}</div>
				<div class="card-body">
					<div class="d-flex">
						<div class="img-container">
							<img class="img-fluid" [src]="item.thumbnailUrl">
						</div>
					</div>
				</div>
				<div class="card-footer bg-none">
					<ng-container *ngIf="estaNoCarrinho(item); else naoEstaNoCarrinho">
						<button (click)="removerDoCarrinho(item)"
						class="btn btn-sm btn-danger btn-remove-carrinho"
						title="Remover do carrinho">
							<i class="fa fa-trash"></i>
							<span class="ml-2">Remover do carrinho</span>
						</button>
					</ng-container>
					<ng-template #naoEstaNoCarrinho>
						<button (click)="adicionarAoCarrinho(item)"
						class="btn btn-sm btn-success btn-add-carrinho"
						title="Adicionar ao carrinho">
							<i class="fa fa-plus"></i>
							<span class="ml-2">Adicionar ao carrinho</span>
						</button>
					</ng-template>
				</div>
			</div>
		</div>
	</div>
	<pagination-controls
		(pageChange)="page = $event"
		previousLabel="Anterior"
		nextLabel="Próximo"
		responsive="true"
	></pagination-controls>
</div>

<!-- Tabela -->
<div *ngIf="tipoExibicao == 'TABELA' && albumItems?.length > 0" class="card">
	<div class="card-body">
		<cx-datatable [trigger]="dtTrigger" [settings]="dtSettings">
			<table datatable class="table table-hover">
				<thead>
					<tr>
						<th>Foto</th>
						<th>Título</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let item of albumItems">
						<td>
							<div class="img-container">
								<img class="img-fluid" [src]="item.thumbnailUrl">
							</div>
						</td>
						<td>{{ item.title }}</td>
						<td>
							<ng-container *ngIf="estaNoCarrinho(item); else naoEstaNoCarrinho">
								<button (click)="removerDoCarrinho(item)"
								class="btn btn-sm btn-danger btn-remove-carrinho"
								title="Remover do carrinho">
									<i class="fa fa-trash"></i>
									<span class="texto-botao ml-2">Remover do carrinho</span>
								</button>
							</ng-container>
							<ng-template #naoEstaNoCarrinho>
								<button (click)="adicionarAoCarrinho(item)"
								class="btn btn-sm btn-success btn-add-carrinho"
								title="Adicionar ao carrinho">
									<i class="fa fa-plus"></i>
									<span class="texto-botao ml-2">Adicionar ao carrinho</span>
								</button>
							</ng-template>
						</td>
					</tr>
				</tbody>
			</table>
		</cx-datatable>
	</div>
</div>