.button-card {
	cursor: pointer;
}

.button-card:hover {
	transition: color 0.2s ease;
}

@media (min-width: 992px) {
	.button-card-container {
		width: 50%;
	}
	#msgInput {
		flex-wrap: nowrap;
		.btn {
			width: auto;
		}
		.input-caixa {
			width: 75%;
		}
	}
}
