<header #headerGeral id="headerGeral">

  <nav id="headerNav">
    <div id="spanLogo" class="h-100"  [ngClass]="{'menu-is-aberto': isMenuAberto}">
      <div (dblclick)="toggleHeaderBackground()" class="d-flex align-items-center h-100">
        <ng-container *ngIf="useImgLogo; else headerLogoContainer">
					<img [src]="getLogo()" class="img-fluid img-logo rounded mx-auto" alt="Logotipo">
				</ng-container>
				<ng-template #headerLogoContainer>
					<h2 class="subtitulo my-0 py-0 mx-auto">{{ getLogo() }}</h2>
				</ng-template>
      </div>
    </div>

    <div id="painelDataHora" class="d-none d-lg-flex h-100 align-items-center ml-auto mr-4">
      <h6 class="subtitulo m-0 full-opacity">
        {{ dataHora }}
      </h6>
    </div>

    <div id="painelIconesUsuario" class="ml-auto ml-lg-0 mr-4">

      <div class="notification-container">
        <div class="dropdown">
          <button class="btn btn-link btn-sm shadow-none border-0 dropdown-toggle"
          data-toggle="dropdown" title="Tamanho base da fonte">
            <i role="button" class="fa fa-font mr-2 fa-2x"></i>
          </button>
          <div class="dropdown-menu">
            <div *ngFor="let font of fontSizes" (click)="setFontSize(font.value)" [ngClass]="{'active': currentFontSize === font.value}"
            class="dropdown-item cursor-pointer d-flex align-items-center" [style.fontSize]="font.value">
              {{font.name}} ({{font.value}})
            </div>
          </div>
        </div>
      </div>

      <div class="notification-container">
        <div class="dropdown">
          <button class="btn btn-link btn-sm shadow-none border-0 dropdown-toggle"
          data-toggle="dropdown" title="Modo Escuro">
            <i role="button" class="fa fa-palette mr-2 fa-2x"></i>
          </button>
          <div class="dropdown-menu">
            <div *ngFor="let tema of themes" class="dropdown-item cursor-pointer" [ngClass]="{'active': currentTheme.value.name === tema.value.name}"
            (click)="setTheme(tema.value.name)">
              <div class="theme-example mr-2" [style.background]="tema['background']"></div>
              {{ tema.toString() }}
            </div>
          </div>
        </div>
      </div>

      <div class="notification-container">
				<div class="notification-badge">
					{{ (itemsCarrinho$ | async).length }}
				</div>
        <div class="dropdown">
          <button class="btn btn-link btn-sm shadow-none border-0 dropdown-toggle"
          data-toggle="dropdown" title="Carrinho">
            <i role="button" class="fa fa-shopping-cart mr-2 fa-2x"></i>
          </button>
          <div class="dropdown-menu p-2">
						<h6 class="dropdown-header text-center">Items no carrinho</h6>
						<div class="d-flex flex-column justify-content-center" style="max-height: 10rem; max-width: 20rem; overflow: auto;">
							<ng-container *ngIf="(itemsCarrinho$ | async).length > 0 else carrinhoVazio">
								<p [title]="item.title" class="descricao-carrinho py-2 mb-0" *ngFor="let item of itemsCarrinho$ | async; let i = index;">
									{{ i + 1 }}: {{ item.title }}
								</p>
							</ng-container>
							<ng-template #carrinhoVazio>
								<p class="mb-0">O carrinho está vazio!</p>
							</ng-template>
						</div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>